<!DOCTYPE html>
<html>

<body>
  <!-- <div ng-app="" ng-init="">
    <h1>Hello {{fname + ' ' + lname}}</h1>
    <p>First Name: <input style="background-color: red;" type="text" ng-Model="fname"
        (change)='onChangeEventFirst($event)' /></p>
    <p>Last Name: <input style="background-color: green;" type="text" ng-Model="lname"
        (change)='onChangeEventLast($event)' /></p>
    <input style="color: white; font-weight: bold; background-color: black;" ng-model="a" type="submit" value="Submit">
    <p>Result of a + b is: {{a+b}}</p>
  </div> -->
</body>

</html>

<router-outlet></router-outlet>